<!DOCTYPE html>
<html lang="en" ng-app="LoginApp">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <!-- loading Angular -->
        <script src="/libs/angular/angular.js"></script>
        
        <!-- loading the app -->
        <script src="/index.js"></script>

    </head>
    <body ng-controller="LoginCtrl as loginCtrl">

        <h2>Login</h2>

        <form name="loginForm" novalidate ng-submit="loginCtrl.performLogin()">
            <table>
                <tr>
                    <td>Username:</td>
                    <td>
                        <input type="text" name="username" id="username" required  size="50"
                            ng-model="loginCtrl.username"
                            placeholder="Please enter your username">
                    </td>
                </tr>
                <tr>
                    <td>Password:</td>
                    <td>
                        <input type="password" name="password" id="password" required  size="50"
                            ng-model="loginCtrl.password"
                            placeholder="Please enter your password">
                    </td>
                </tr>

                <tr>
                    <td></td>
                    <td>
                        <button type="submit" ng-disabled="loginForm.$invalid" id="loginBtn">
                            Login
                        </button>
                    </td>
                </tr>
            </table>

            <h4>{{ loginCtrl.status }}</h4>

        </form>

        
    </body>
</html>